body {
    max-width: 1200px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    main > .container {
      padding: 60px 15px 0;
    }
  }
  .link {
    text-decoration: none;
    color: cadetblue;
    text-align: center;
  }
  .link:hover {
    color: darkcyan;
  }
  .card-text {
    text-align: center;
  }
  .btn {
    display: list-item;
  }
  .btn-primary {
    background-color: rgb(73, 175, 133);
    border-color: rgb(73, 175, 133);
  }
  .btn-primary:hover {
    background-color: darkcyan;
    border-color: darkcyan;
  }
  .card {
    margin: 18px;
    border: none;
    display: inline-flex;
    column-count: 5
  }
  .img-thumbnail {
    max-width: 20%;
    margin-left: 50px;
    float: left;
  }
  .box {
    overflow: hidden;
  }
  .image img {
    width: 300px;
    margin: 25px;
  }
  .image {float: left; width: 200px;}
  .text {
    margin-left: 345px;
    margin-top: 25px;
  }
  h1 {
    text-align: center;
    color: darkcyan;
  }
  body table {
    font-size: 20px;
    font-family: inherit;
  }
  .td_detail {
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: #004085;
  }
  .alert {
    text-align: center;
    font-size: 18px;
  }
  .nav-link {
    color: darkcyan;
  }
  .nav-link:hover {
    color: rgb(73, 175, 133);
  }
  .btn-outline-success {
    color: darkcyan;
    border-color: darkcyan;
  }
  .btn-outline-success:hover {
    color: rgb(73, 175, 133);
  }
  .cart {
    margin-left: 41em;
  }
  .card-deck {
    display: block;
  }