{% extends 'mng_base.html' %}
{% block title %}Authors{% endblock title %}
{% block body %}
<div class="alert alert-info" role="alert">
    <a href="{% url 'form:author-create' %}">Author create</a>
</div>
<div class="alert alert-danger" role="alert">
    <a href="{% url 'form:mng_forms' %}">Return</a>
</div>

<table class="table table-bordered">
    <tbody>
        {% for author in object_list %}
        <tr>
            <td>{{ author.pk }}</td>
            <td><a href="{% url 'form:author' author.pk %}">{{ author }}</a><br></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'form:author-update' author.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'form:author-delete' author.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
{% endblock body %}
