{% extends 'mng_base.html' %}
{% block title %}Authors{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% for author in object_list %}
        <tr>
            <td>{{ author.pk }}</td>
            <td><a href="{% url 'form:author' author.pk %}">{{ author }}</a><br></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'form:author-update' author.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'form:author-delete' author.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
{% endblock body %}
