{% extends 'mng_base.html' %}
{% block title %}Genres{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% for genre in object_list %}
        <tr>
            <td>{{ genre.pk }}</td>
            <td><a href="{% url 'form:genre' genre.pk %}">{{ genre }}</a><br></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'form:genre-update' genre.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'form:genre-delete' genre.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
{% endblock body %}