{% extends 'mng_base.html' %}
{% block title %}Publishers{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% for publisher in object_list %}
        <tr>
            <td>{{ publisher.pk }}</td>
            <td><a href="{% url 'form:publisher' publisher.pk %}">{{ publisher }}</a></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'form:publisher-update' publisher.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'form:publisher-delete' publisher.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
{% endblock body %}