{% extends 'mng_base.html' %}
{% block title %}Series{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% for series in object_list %}
        <tr>
            <td>{{ series.pk }}</td>
            <td><a href="{% url 'form:series' series.pk %}">{{ series }}</a></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'form:series-update' series.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'form:series-delete' series.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
<div class="alert alert-secondary" role="alert">
    <a href="{% url 'form:series-create' %}">Series create</a>
</div>
<a href="{% url 'form:mng_forms' %}">Return</a>
{% endblock body %}