{% extends 'base.html' %}
{% block title %}Series{% endblock title %}
{% block body %}
    <h1>Серии книг</h1>
        <ul>
            {% for series in object_list %}
            <li>
                <a href="{% url 'form:series' series.pk %}">{{ series }}</a><br>
                <a href="{% url 'form:series-update' series.pk %}">Update</a> ||
                <a href="{% url 'form:series-delete' series.pk %}">Delete</a>
            </li>
            {% endfor %}
        </ul>
{% endblock body %}