
{% extends 'base.html' %}
{% block title %}Books{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% if user.is_superuser %}
        {% for book in object_list %}
        <tr>
            <td>{{ book.pk }}</td>
            <td><a href="{% url 'book:book_detail' book.pk %}">{{ book }}</a></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'book:update_book' book.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'book:delete_book' book.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
{% endif %}
<div class="card-deck" style="display: flex;">
{% for book in object_list %}
    <div class="card" style="width: 18rem;">
        <a href="{% url 'book:book_detail' book.pk %}"><img src="{{ book.image.url }}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <a href="{% url 'book:book_detail' book.pk %}" class='link'><h5 class="card-title">{{ book.books_name }}</h5></a>
            <p class="card-text">{{book.price}}</p>
            <a href="#" class="btn btn-primary">Add to cart
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock body %}