{% extends 'base.html' %}
{% block title %}Books{% endblock title %}
{% block body %}
<table class="table table-bordered">
    <tbody>
        {% if user.is_superuser or user.is_staff %}
        {% for book in object_list %}
        <tr>
            <td>{{ book.pk }}</td>
            <td><a href="{% url 'book:book_detail' book.pk %}">{{ book }}</a></td>
            <td><button type="button" class="btn btn-warning"><a href="{% url 'book:update_book' book.pk %}">Update</a></button></td>
            <td><button type="button" class="btn btn-danger"><a href="{% url 'book:delete_book' book.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
</table>
        {% endif %}
    <div class="card-deck">
    {% for book in object_list %}
    {% include 'book_card.html' %}
    {% endfor %}
    </div>
    {% include 'paginator.html' %}
    </nav>
{% endblock body %}

