{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
    <h2 style="text-align: center;">NOVELTIES</h2><br>
        <div class="card-deck" style="display: flex;">
        {% for book in new_books %}
        {% include 'book_card.html' %}
        {% endfor %}
    </div><br>
    <h2 style="text-align: center;">BESTSELLERS</h2><br>
    <div class="card-deck" style="display: flex;">
        {% for book in best_books %}
        {% include 'book_card.html' %}
        {% endfor %}
    </div><br>
    <h2 style="text-align: center;">STOCK</h2><br>
    <div class="card-deck" style="display: flex;">
        {% for book in cheap_books %}
        {% include 'book_card.html' %}
        {% endfor %}
    </div>
{% endblock body %}




