{% extends 'mng_base.html' %}
{% block title %}Administration{% endblock title %}
{% block body %}
<div class="alert alert-info" role="alert">
    <a href="{% url 'book:create_book' %}">Create book</a>
</div>

<div class="alert alert-secondary" role="alert">
    <a href="{% url 'book:book_list' %}">Books list</a>
</div>

<div class="alert alert-warning" role="alert">
    <a href="{% url 'form:mng_forms' %}">Forms</a>
</div>
<div class="alert alert-success" role="alert">
    <a href="{% url 'orders:manager_order_list' %}">Orders</a>
</div>
<div class="alert alert-secondary" role="alert">
    <a href="{% url 'customer:profiles_list' %}">Customers</a>
</div>
{% endblock body %}