
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock title %}
{% block body %}
{% if not user.is_staff or user.is_superuser %}
<h1>{{object.first_name}} {{ object.last_name }}</h1>
<div class="alert" style="background-color: rgb(122, 206, 206);" role="alert">
    <a href="{% url 'orders:customer_order_list' %}" style="color: rgb(82, 79, 79);">My orders</a>
</div>
{% endif %}
<table class="table table-striped">
    <tr>
        <td>Username</td>
        <td>{{object.username}}</td>
    </tr>
    <tr>
        <td>e-mail</td>
        <td>{{object.email}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{object.customer.phone}}</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>{{object.customer.country}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{object.customer.city}}</td>
    </tr>
    <tr>
        <td>Postcode</td>
        <td>{{object.customer.postcode}}</td>
    </tr>
    <tr>
        <td>Address 1</td>
        <td>{{object.customer.аddress_1}}</td>
    </tr>
    <tr>
        <td>Address 2</td>
        <td>{{object.customer.аddress_2}}</td>
    </tr>
    <tr>
        <td>Other</td>
        <td>{{object.customer.other}}</td>
    </tr>
</table>

{% if not user.is_staff or user.is_superuser %}
<div class="alert alert-info" role="alert">
    <a href="{% url 'customer:change_password' %}" style="color: rgb(82, 79, 79);">Change password?</a>
</div>
<div class="alert alert-primary" role="alert">
    <a href="{% url 'customer:user_update' user.pk %}" style="color: rgb(82, 79, 79);">Change master data?</a>
</div>

<div class="alert alert-secondary" role="alert">
    <a href="{% url 'customer:profile_update' profile.pk  %}" style="color: rgb(82, 79, 79);">Change additional data?</a>
</div>
{% endif %}
{% endblock body %}