
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Профиль {% endblock title %}
{% block body %}
<h1>{{object.first_name}} {{ object.last_name }}</h1>
<p></p>
Логин: {{object.username}}</br>
<p></p>
Пароль: {{object.password}}</br>
<p></p>
e-mail: {{object.email}}</br>
<p></p>
Имя: {{object.phone}}</br>
<p></p>
Фамилия: {{object.country}}</br>
<p></p>
Телефон: {{object.city}}</br>
<p></p>
Индекс: {{object.postcode}}</br>
<p></p>
Адрес: {{object.аddress_1}}</br>
</br>


{% endblock body %}