
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock title %}
{% block body %}

<h1>{{object.first_name}} {{ object.last_name }}</h1>
<div class="alert" style="background-color: rgb(122, 206, 206);" role="alert">
    <a href="{% url 'orders:customer_order_list' %}" style="color: rgb(82, 79, 79);">My orders</a>
</div>
<p></p>
Login: {{object.username}}</br>
<p></p>
e-mail: {{object.email}}</br>
<p></p>
Phone: {{object.customer.phone}}</br>
<p></p>
Country: {{object.customer.country}}</br>
<p></p>
City: {{object.customer.city}}</br>
<p></p>
Postcode: {{object.customer.postcode}}</br>
<p></p>
Address 1: {{object.customer.аddress_1}}</br>
<p></p>
Address 2: {{object.customer.аddress_2}}</br>
<p></p>
Other: {{object.customer.other}}</br>
</br>
<div class="alert alert-info" role="alert">
    <a href="{% url 'customer:change_password' %}" style="color: rgb(82, 79, 79);">Change password?</a>
</div>
<div class="alert alert-primary" role="alert">
    <a href="{% url 'customer:user_update' %}" style="color: rgb(82, 79, 79);">Change master data?</a>
</div>

<div class="alert alert-secondary" role="alert">
    <a href="{% url 'customer:profile_update' %}" style="color: rgb(82, 79, 79);">Change additional data?</a>
</div>


{% endblock body %}