{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Order{% endblock title %}
{% block body %}
<h1>Order {% if request.user.is_authenticated %}{{ user }}{% endif %}</h1><br>
<form action="{% url 'carts:cart_update' %}" method="POST">
    <table class="table table-bordered">
        <tr>
            <th>Book</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for book_in_cart in object.goods.all %}
        <tr>
            <td>{{ book_in_cart.book.books_name }}, {{ book_in_cart.book.year }}</td>
            <td>{{ book_in_cart.book.price }}</td>
            <td>{{ book_in_cart.quantity }}</td>
        </tr>
        {% endfor %}
        <tr align="center">
            <th colspan="5">Total summ</th>
        </tr>
        <tr align="center">
            <td colspan="5">{{object.total_summ}} руб.</td>
        </tr>
    </table>
</form>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">MOVE</button>
</form>
{% endblock body %}